.oh-my-zsh/locals.zsh
.oh-my-zsh/log/.zsh_history
.oh-my-zsh/projects.zsh
.oh-my-zsh/custom/example
.oh-my-zsh/custom/example.zsh
.oh-my-zsh/*.swp
.oh-my-zsh/!custom/example.zshcache
.oh-my-zsh/cache/
.vimperator/info/*
chrome/ShadowFox_customization/internal_UUIDs.txt.2019-03-06-13-49-24.backup
chrome/userContent.css
userChrome.css
