[diff]
  tool = vim -d

[merge]
  tool = vimd -d

[alias]
  st           = status
  ch           = checkout
  cm           = commit -m
  cmm          = "!git add -A && git commit -m"
  ca           = commit --amend --no-edit
  assume       = update-index --assume-unchanged
  unassume     = update-index --no-assume-unchanged
  assumed      = "!git ls-files -v | grep ^h | cut -c 3-"
  ours         = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs       = "!f() { git checkout --theirs $@ && git add $@; }; f"
  clean-merged = "!git branch --merged | egrep -v '(^\\*|mast|dev|stag|prod|release)' | (xargs git branch -d 2> /dev/null || echo no merged branches found)"
  remove-tags  = "!git tag | xargs git tag -d"
  remove-tags-remote  = "!git tag -l | xargs -n 1 git push --delete origin"
  clean-ignored =  "!f() { for dir in $(git ls-files -i --exclude-from=.gitignore $@); do git rm -r --cached $dir; done; }; f"

[core]
  editor = vim
  filemode = false
  ignorecase = true
  autocrlf = true
  safecrlf = false

[fsck]
  missingEmail = ignore

[fetch]
  prune = true
  all = true

[user]
	name = aemonge

[http]
  sslVerify = false

[https]
  sslVerify = false

; How to use REBASE ?
; git rebase -i HEAD~11
; LC_ALL=C GIT_COMMITTER_DATE="$(date --date="4 day ago")" git commit --amend --no-edit --date "$(date --date="4 day ago")"
