[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[alias]
  st           = status
  ch           = checkout
  cm           = commit -m
  cmm          = "!git add -A && git commit -m"
  ca           = commit --amend --no-edit
  assume       = update-index --assume-unchanged
  unassume     = update-index --no-assume-unchanged
  assumed      = "!git ls-files -v | grep ^h | cut -c 3-"
  ours         = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs       = "!f() { git checkout --theirs $@ && git add $@; }; f"
  clean-merged = "!git branch --merged | egrep -v '(^\\*|mast|dev|stag|prod|release)' | (xargs git branch -d 2> /dev/null || echo no merged branches found)"

[core]
  editor = vim

[fetch]
  prune = true
  all = true
