Host ssh.github.com
  ProxyCommand /usr/bin/corkscrew 172.31.219.30 8080 %h %p ~/.ssh/myauth
  HostName ssh.github.com
  User git
  Port 443
  IdentityFile ~/.ssh/id_rsa
  TCPKeepAlive yes
  IdentitiesOnly yes

Host github.com
  ProxyCommand /usr/bin/corkscrew 172.31.219.30 8080 %h %p ~/.ssh/myauth
  HostName ssh.github.com
  User git
  Port 443
  IdentityFile ~/.ssh/id_rsa
  TCPKeepAlive yes
  IdentitiesOnly yes
