#main-window[sizemode="maximized"] #titlebar {
  height: calc(var(--tab-min-height) - 10px);
}
#main-window[sizemode="fullscreen"]  {
  height: 100vh !important;
}
#main-window {
  height: calc(100% - var(--tab-min-height)) !important;
  background-color: #323234 !important;
  margin-bottom: calc(10px - var(--tab-min-height));
}
#main-window[sizemode="maximized"] #titlebar {
  margin-bottom: calc(10px - var(--tab-min-height));
}
#main-window #titlebar {
  margin-bottom: calc(2px - var(--tab-min-height));
}

#main-window[sizemode="normal"] #toolbar-menubar[autohide="true"] {
  height: calc(var(--tab-min-height) + var(--space-above-tabbar)) !important;
}

#TabsToolbar {
  display: grid;
  position: fixed;
  width: 100%;
  bottom: 0;
  grid-template-columns: repeat(3, auto);
  background-color: #323234 !important;
}

#TabsToolbar .titlebar-spacer {
  display: none;
}
#TabsToolbar .toolbar-items {
  grid-column: 1 / 100;
}
#TabsToolbar #window-controls,
#TabsToolbar .titlebar-buttonbox-container {
  grid-column: 100;
}

#main-window[sizemode="normal"] #titlebar #toolbar-menubar .titlebar-buttonbox-container[skipintoolbarset="true"] {
  display: none;
}


/**
 * OS Compatibillity
 */
#main-window { /* only for linux */
  height: calc(100% - calc(var(--tab-min-height) + 10px)) !important;
}
