#TabsToolbar {
  background: var(--lwt-toolbar-field-background-color, hsla(0, 0%, 100%, .8)) !important;
}

/**
 * Move the action bar to the bottom to emulate a vim interface
 */
#browser {
  margin-bottom: 32px !important;
}
#nav-bar {
  bottom: 0 !important;
  height: 32px !important;
  overflow: hidden !important;
  position: fixed !important;
  display: block;
  width: 100% !important;
}
/* Make it full width, after re-position */
#nav-bar-customization-target {
  width: calc(100% - 60px) !important;
}
/* Fix the main menu action */
#PanelUI-button {
  display: inline-block !important;
  height: 32px !important;
  position: absolute !important;
  right: 3px;
  top: 3px !important;
}
#nav-bar-overflow-button {
  display: inline-block !important;
  height: 32px !important;
}
/* position the result list above (not below) the address bar */
#urlbar-results {
  background: #333333;
  position: fixed;
  color: #cecece;
  bottom: 32px;
  right: 0px;
  width: 100%;
  margin-top: -410px !important;
}
