#main-window[sizemode="maximized"]  {
  height: calc(100% - 28px) !important;
}
#main-window[sizemode="fullscreen"]  {
  height: 100% !important;
}
#main-window {
  height: calc(100% - 30px) !important;
  background-color: #323234;
  margin-bottom: -20px;
}
#main-window[sizemode="maximized"] #titlebar {
  margin-bottom: -20px;
}
#main-window #titlebar {
  margin-bottom: -28px;
}

#TabsToolbar {
  display: grid;
  position: fixed;
  width: 100%;
  bottom: 0;
  grid-template-columns: repeat(3, auto);
}

#TabsToolbar .titlebar-spacer {
  display: none;
}
#TabsToolbar .toolbar-items {
  grid-column: 1 / 100;
}
#TabsToolbar .titlebar-buttonbox-container {
  grid-column: 100;
}
