/* Tab bar on bottom */
#navigator-toolbox {
  padding-top: 6px !important;
  padding-bottom: 0px !important;
}

#titlebar {
  margin-bottom: 32px;
  width: 100vw;
  background-color: #323234 !important;
}

#titlebar, #TabsToolbar {
  position: fixed !important;
  bottom: 0 !important;
  display: block !important;
}

.titlebar-buttonbox-container {
  right: 0 !important;
  position: fixed !important;
  display: block !important;
  width: 90px !important;
  margin: 10px auto !important;
}

#TabsToolbar {
  display: inline-grid !important;
  position: absolute !important;
  width: 100% !important;
  top: 0 !important;
}
#TabsToolbar .toolbar-items {
  width: 100vw !important;
  background-color: #323234 !important;
}
#tabbrowser-arrowscrollbox {
  width: calc(100vw - 100px) !important; /* subsctract the .titlebar-buttonbox-container and margin */
  margin-left: 10px;
}

#tabbrowser-tabs{
  display: grid !important;
  z-index: 99999 !important;
  width: calc(100% - 120px) !important;
  left: 0 !important;
  bottom: 0 !important;
}

#main-window {
  height: calc(100% - 32px) !important;
  background-color: #323234 !important;
}
/* END: Tab bar on bottom */
